<header>
  <div class="navbar">
    <ul>
      <li class="nav-menu-button">
        <a class="category-link" routerLink="">News App</a>
      </li>
      <li class="nav-menu-button">
        <a class="category-link" routerLink="/tech">Technology</a>
      </li>
      <li class="nav-menu-button">
        <a class="category-link" routerLink="/business">Business</a>
      </li>
      <li class="nav-menu-button">
        <a class="category-link" routerLink="/health">Health</a>
      </li>
    </ul>
  </div>
  <!-- <ion-searchbar showCancelButton="focus"></ion-searchbar> -->
</header>
