<app-navbar></app-navbar>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>article detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <p class="published-media">{{post.name}}</p>
    <ion-img id="thumbnail" [src]="post.urlToImage" alt=""></ion-img>
    <p class="credit">Provided by author</p>
    <div class="text-contents">
      <h1 class="title">{{post.title}}</h1>
      <div class="author-date">
        <!-- <p class="published-date">{{post.publishedAt | date:'short':'IST'}}</p> -->
        <p class="author">by {{post.author}}</p>
      </div>
      
      <hr width="100%" align="”center”" />

      <p class="content">{{post.content}}</p>
    </div>
  </div>

  <app-footer></app-footer>
</ion-content>
