
<app-navbar></app-navbar>

<ion-content>
    <h1 class="page-title">Health news</h1>

    <main>
    <div class="cards-container">
      <div
        class="article-card"
        *ngFor="let p of service.listOfArticle; index as i"
        routerLink="/article/{{i}}"
      >
        <ion-img id="thumbnail" [src]="p.urlToImage" alt=""></ion-img>
        <div class="published-date detail">
          <span>Published on: </span>{{p.publishedAt | date: "yy/MM/dd"}}
        </div>
        <div class="article-title detail">{{p.title}}</div>
      </div>
    </div>
  </main>

  <app-footer></app-footer>

</ion-content>
